* {
    box-sizing: border-box;
}
.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.5rem;
    padding: 3.5rem 3.5rem 8.5rem 3.5rem;
    background-color: #121212;
    font-family: 'Source Sans 3', sans-serif;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}
h1 {
    font-size: 8rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    height: 10rem;
}
h3 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
    /* height: 5rem; */
}
h4 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 93%;
    margin: 0;
}
h6 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
p {
    font-size: 1rem;
    margin: 0 0 .25rem;
}


/* Header Styles */
header {
    justify-content: space-between;
    align-items: center;
}
ul, ol {
    margin: 0;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
nav ul li {
    list-style-type: none;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: white;
}
.old {
    display: flex;
    padding: 0;
}
.menu__item {
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}
.menu__item:hover {
    outline: 1px solid #FFF;
}


/* Section Styles */
.section-style {
    max-width: 83rem;
    display: flex;
    width: 100%;
}


/* Intro Section */
.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
}
.intro__p {
    margin: 0 0 0 0.5rem;
    font-size: 1.5rem;
    min-width: 19.5rem;
}
.intro__img {
    width: 100%;
    height: auto;
}


/* Skills Section */
.skills {
    display: none;
}
.skills__row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
}
.skills__row--group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
}


/* Portfolio Section */
.portfolio {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.portfolio__sub-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}
.portfolio__sub-section:last-child {
    margin-top: 1rem;
}
.portfolio__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
    /* align-self: stretch; */
}
.portfolio__row a {
    width: 100%;
}
.portfolio__tile {
    /* height: 24rem; */
    border-radius: 1.5rem;
    background-color: #1f1f1f;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
}
.portfolio__tile:hover {
    outline: 1px solid #FFF;
}
.portfolio__tile--img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.portfolio__spacing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tags-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    flex-wrap: wrap;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
}
.tag--color-one {
    background-color: #26474E;
}
.tag--color-two {
    background-color: #9E4729;
}
.tag--color-three {
    background-color: #197678;
}
.tag--color-four {
    background-color: #994239;
}


/* About Me Section */
.about {
    flex-direction: column;
}
.skills__tile {
    gap: 0.25rem;
}
.skills__tile-header {
    display: flex;
    gap: 0.5rem;
}
.skills__ul {
    padding-left: 1.5rem;
}
.passions-row {
    display: flex;
    gap: 1.25rem;
}
.portfolio__row--column {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.about__tile {
    gap: 1rem;
}
.about_tile-text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Social Media Section */
.social {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
}
.social-link {
    display: flex;
    gap: 0.5rem;
}
.social-link:hover {
    text-decoration: underline;
}


/* Post CSS */
.post-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}
.post-header {
    display: flex;
    justify-content: center;
}
.post__img {
    border-radius: 1.5rem;
    width: 100%;
    height: auto;
}
.post__img--sm {
    width: 80%;
}
.post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    max-width: 50.25rem;
}
.post__styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}
.post__styling--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}
.post__img--span {
    grid-column: 1 / span 3;
}

/* Media Queries */
/* For screens to 1024px */
@media screen and (max-width: 1439px) {
    /* .layout {background-color: #000000;} */

    h1 {
        font-size: 6rem;
        height: 7.5rem;
    }
    h4 {
        font-size: 2.25rem;
    }
    /* .intro__img {
        width: 438px;
    } */
    .portfolio__row {
        gap: 1rem;
    }
}

/* For screens smaller than 1024px */
@media screen and (max-width: 1023px) {
    .layout {
        /* background-color: #000000; */
        padding: 1.5rem 1.5rem 3.5rem 1.5rem;
        gap: 5.5rem;
    }
    .intro {
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
    .logo {
        height: 72px;
    }
    .portfolio__row {
        flex-direction: column;
    }
    .post__img--sm {
        width: 100%;
    }

    /* Hamburger Menu Styles */
    /* #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }
    
    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }
    
    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu__toggle:checked~.menu__box {
        right: 0 !important;
    }
    
    .menu__btn {
        position: absolute;
        top: 66px;
        right: 32px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
    }
    
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 41px 24px;
        background-color: #1F1F1F;
        transition-duration: .25s;
    }
    
    .menu__item {
        display: block;
        transition-duration: .25s;
        width: fit-content;
        margin-bottom: 1.5rem;
    } */
}

@media screen and (max-width: 609px) {
    .layout {
        gap: 2.5rem;
    }
    header {
        flex-direction: column;
        gap: 2rem;
    }
    .menu__item {
        font-size: 1.25rem;
        padding: .5rem .25rem;
        gap: .25rem;
    }
    .menu__item:hover {
        outline: 0;
    }
    h1 {
        font-size: 4rem;
        height: 5.25rem;
    } 
    h3 {
        font-size: 3.125rem;
        /* height: 3.5rem; */
    }   
    .intro__p {
        margin: 0;
        min-width: 100%;
    }
    .portfolio__tile {
        padding: 1.5rem;
    }
    .icon-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .post__img {
        border-radius: .5rem;
    }
    .post__styling--grid {
        grid-template-columns: auto;
    }
    .post__img--span-mobile {
        grid-column: 1 / span 3;
    }
}