/*
.container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #67C8E6;
}
*/

#blue {
    color: #00b1dd;
}

h1, h3, p, li {
    color: white;
}

body {
    margin: 0px;
    background-color: #1a1a1a;
    font-family: source-code-pro, monospace;
    font-style: normal;
    font-weight: 200;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    padding-top: 35px;
    padding-right: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding-top: 17px;
    padding-left: 40px;
    font-size: 25px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #00b1dd;
}

h1 {
    font-size: 2.5em;
}

footer {
    padding: .5em;
}

.top-bottom-spacing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-spacing {
    padding: 200px 100px;
}

.black-bg {
    background: #0f0e0e;
}

.logo {
    margin: 20px;
    width: 130px;
    height: 130px;
}

.welcome {
    margin-bottom: 200px;
}

.intro {
    font-style: italic;
    font-weight: 100 !important;
    font-size: 10em;
    margin: 0;
}

.subIntro {
    font-size: 22px;
    margin-top: -15px;
    width: 704px;
    justify-content: flex-start;
}

.about {
    flex-direction: row;
}

.about-heading {
}

.descript {
    margin-left: 100px;
    width: 408px;
}

.descript p {
    line-height: 1.6;
}

.skills-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contact {
    margin: 20px 0px;
}

.contact-links ul li{
    display: inline-block;
}

.contact-links ul li:hover {
    color: #00b1dd;
}