.container {
    margin-left: 100px;
    margin-right: 100px;
/*    background-color: #67C8E6;*/
}

body {
    margin: 0px;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    
    
}

.logo {
    margin: 0;
/*    height: 75%;*/
/*    width: 75%;*/
}

nav {}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 10px;
    padding: 17px;
    font-size: 20px;
    font-family: Source Code Pro;

}

#banner {
    background-image: image(s7nlaf3kefg-markus-spiske.jpg);
    display: flex;
    justify-content: center;
}

.three-column-layout {
    display: flex;
    justify-content: space-around;
}

.three-column-layout,
h1 {
    text-align: center;
    margin-bottom: 10px;
}

.three-column-layout img {
    height: 175px;
}

.three-column-layout p {
    text-align: left;
}

.first-column {}

.middle-column {
    padding-left: 1em;
    padding-right: 1em;
}

.middle-column p {
    margin-bottom: 2.5em;

}

.third-row {
    padding: 9px;
}

.last-column {}

.third-second-row {
    margin-top: -1em;
}

.third-fourth-row {
    margin-top: 3em;
}

footer {
    background-color: black;
    padding: .5em;
}
