/*
.container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #67C8E6;
}
*/

#blue {
    color: #00b1dd;
}

h1, h3, p, li {
    color: white;
}

body {
    margin: 0px;
    background-color: #1a1a1a;
    font-family: Source Code Pro;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px;
    width: 130px;
    height: 130px;
}

nav {
    padding-top: 35px;
    padding-right: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    padding-top: 17px;
    padding-left: 40px;
    font-size: 25px;
}


footer {
    background-color: black;
    padding: .5em;
}
