.container {
    
}

body {
    background-color: skyblue
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 10px;
    padding: 17px;
    background-color: coral;
    font-size: 20px;
    font-family: Source Code Pro;
    
}

#banner {
    background-image: image(s7nlaf3kefg-markus-spiske.jpg);
    display: flex;
    justify-content: center;
    background-color: red;
}

.three-column-layout {
    display: flex;
    justify-content: space-around;
}

.three-column-layout,
h1 {
    text-align: center;
}

.three-column-layout img {
    height: 175px;
}

.first-column {}

.middle-column {
    padding-left: 1em;
    padding-right: 1em;
}

.middle-column p {
    margin-bottom: 2.5em;

}

.third-row {
    padding: 9px;
}

.last-column {}

.third-second-row {
    margin-top: -1em;
}

.third-fourth-row {
    margin-top: 3em;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0C6572;
    color: #BA8810;
    padding: .5em;
}
